body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content:center;
    align-items: center ;
    height: 100vh;
    margin: 0;
}

form{
    background-color: rgb(227, 28, 107);
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2{
    text-align: center;
    color: rgb(10, 203, 232);
    margin-bottom: 20px;
}

lebel{
    display: block;
    margin-bottom: 6px;
    color: rgb(12, 246, 74);
    font-weight: bold;

}

input[type="text"],
input[type="email"],    
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #11c81d;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.gender-group{
    margin-bottom: 15px;
}

.gender-group input[type="radio"]{
    margin-right: 5px;
}

.gender-group label{
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
}

.terms input[type="checkbox"]{
    margin-bottom: 8px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: #14d0da;
    border: springgreen;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(58, 13, 209);
}
input:focus, select:focus{
    border-color: #0dea2e;
    outline: none;
    box-shadow: 0 0 4px rgba(246, 234, 8, 0.5);
}

@media (max-width: 400px) {
   form{
    width: 90%;
   } 
}